<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Home Inventory</h1>

    <!-- Login  -->
    <div id="loginForm">
        <h2>Login</h2>
        <form id="login">
            <input type="text" id="loginUsername" placeholder="Username" required>
            <input type="password" id="loginPassword" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p id="loginMessage"></p> 
        <p>Don't have an account? <a href="#" onclick="showRegisterForm()">Register here</a></p>
    </div>

    <!-- Registration -->
    <div id="registerForm" style="display: none;">
        <h2>Register</h2>
        <form id="register">
            <input type="text" id="registerUsername" placeholder="Username" required>
            <input type="password" id="registerPassword" placeholder="Password" required>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p id="registerMessage"></p> 
        <p>Already have an account? <a href="#" onclick="showLoginForm()">Login here</a></p>
    </div>

    <!-- Item -->
    <div id="itemForm" style="display: none;">
        <div id="newItemFormContainer">
            <form>
                <label for="name">Item Name:</label>
                <input list="existingItems" id="name" placeholder="Item Name" required>
                <datalist id="existingItems"></datalist>
                <label for="quantity">Quantity:</label>
                <input type="number" step="0.01" id="quantity" placeholder="Quantity" required>
                <label for="measurement_unit">Measurement Unit:</label>
                <input type="text" id="measurement_unit" placeholder="Measurement Unit (e.g., Kg, units, ml)" required>
                <label for="threshold">Low Quantity Threshold:</label>
                <input type="number" step="0.01" id="threshold" placeholder="Low Quantity Threshold" required>
                <label for="expiration_date">Expiration Date:</label> 
                <div class="date-container">
                    <input type="date" id="expiration_date" placeholder="Expiration Date">
                    <span class="calendar-icon">📅</span> 
                </div>
                <button type="submit">Add Item</button>
            </form>
        </div>
        <a href="#" onclick="showShoppingList()">Go to Shopping List</a>
        <table id="itemsTable">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Measurement Unit</th>
                    <th>Expiration Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="items"></tbody>
        </table>
    </div>

    <!-- Shopping List -->
    <div id="shoppingList" style="display: none;">
        <h2>Shopping List</h2>
        <a href="#" onclick="showItemList()">Back to Item List</a>
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Item</th>
                    <th>Got It?</th>
                </tr>
            </thead>
            <tbody id="shoppingItems"></tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
